div{
	border: solid black 1px;
}

#header{
	
	position: relative;
	float: ;
	margin-top: 100px;
	margin-left: 150px;

}

#Searchbar{

	background-image: url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D");
}

