/* General */

body {
  background: #fff;
  color: #222;
  font-family: arial,sans-serif;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
    float: right;
}

nav li a {
	text-decoration: none;
	color: black;
	padding: 3px 0px 0px 0px;
	margin-left: 5px;
	margin-top: 7px;
}

nav li a:hover{

	text-decoration: underline;
}

nav li a #gmail {

	margin-right: 5px;
}



/* Logo and searchbox */

div#content {
  margin-top: 0;
  clear: both;
}

form {
  margin-top: 0;
}

#logo {
  height:233px;
  margin-top:50px;
}

#logo img {
  height: 92px;
  width: 272px;
  padding-top: 109px;
}

input[type="search"] {
  width: 584px; height: 40px;
  border: 1px solid #d0d0d0;
  line-height: 0;
  overflow: visible;
  white-space: nowrap;
  color: grey;
}

button {

	display: inline-block;
	margin-top: 15px;
	border: 2px solid #e4d6d6;
	border-radius: 2px;
	background-color: blue;
	text-decoration-color: grey;
	color: #353131;
	background-color: #e4d6d6;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	


}

button:hover{

	text-decoration-color: black;
	color: black;
	border: 1px solid grey;

}

footer {

	position: absolute;
	bottom: 5px;
	width: 100%;
	clear: both;
	display: inline;

	


}

#left-footer {

	position: absolute;
	display: inline;
	left: 5px;
	
}

#right-footer {

	position: absolute;
	display: inline;
	right: 5px;
	
}

footer a {

	text-decoration: none;
	color: black;
}



footer div{

	border: solid 1px grey;
	display: inline;
}

footer li{
	list-style-type: none; 

}








