div{
	border: solid black 1px;
	display: inline-block;
	float: left;
	padding-left: 20px;
}

#header{
	
	position: relative;
	float: ;
	margin-top: 100px;
	margin-left: 150px;

}

#Searchbar{

	background-image: url("https://www.google.com/search/about/img/components/landing/hero/desktop/search-bar-top.png");
	background-repeat: no-repeat;
}

